.cd{background-color:#eaebed;color:black;padding:2px;border-radius:3px;font-family:monospace;}
.sp{display:block;white-space:pre-wrap;}
.spr{background-color:#efaab8;display:block;border-radius:5px;white-space:pre-wrap;}
.err_img{float:right;}
.col{max-width:50%;word-wrap:break-word;}
.textcat{height: 1.5em;}