.cd{background-color:#eaebed;color:black;padding:2px;border-radius:3px;font-family:monospace;}
.legend{color:black;padding:2px;border-radius:3px;font-family:monospace;text-align:center;text-size:10px}
.sp{display:block;white-space:pre-wrap;}
.spr{background-color:#efaab8;display:block;border-radius:5px;white-space:pre-wrap;}
.err_img{float:right;}
.col{max-width:50%;word-wrap:break-word;}
.textcat{height: 1.5em;}
.headimg{float:right;width:7%; max-width:100px;}
.openall{float:right;color:#007bff;cursor:pointer;font-weight:bold;}
.display-switcher{float:right;padding-right:10px}
.bar{height:20px;display:inline-block}
.stats{border-radius:3px}
.sd{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}
.sd>span{font-size:13px}