<!doctype html>
<html>
<head>
    <title>CopyPastor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"  />
</head>
<body>
<br>
<div class="container">
    <a href="https://sobotics.org"><img src="{{ url_for('static', filename='sobotics.png') }}" width="20%" class="headimg" /></a>
    <h3>CopyPastor</h3>
    Detecting plagiarism made easy.
</div>
<br>
{% block content %}
{% endblock %}
<br><br>
<hr/>
<div class="container">
    <div class="footer">
        <sub class="center-block"> Made by the <a href="https://sobotics.org/">SOBotics</a> team.
            Published on <a href="https://stackapps.com/q/7768">StackApps</a>.
            Source code on <a href="https://github.com/SOBotics/CopyPastor">GitHub</a>.
            Content provided by <a href="https://api.stackexchange.com/">Stack Exchange API</a>
            under the <a href="https://creativecommons.org/licenses/by-sa/3.0/"> CC BY-SA 3.0 license</a>.
        </sub>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='diff.js') }}"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<script type="text/javascript">function o(l1,l2){window.open(l1);window.open(l2)}; disp('{{f_body_one}}','{{f_body_two}}'); $('#single').hide();</script>
</body>
</html>
