<!doctype html>
<html>
<head>
    <title>Copy Pastor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"  />
</head>
<body>
<br>
<div class="container">
    <a href="https://sobotics.org"><img src="{{ url_for('static', filename='sobotics.png') }}" width="20%" class="headimg" /></a>
    <h3>Copy Pastor</h3>
    Detecting plagiarism made easy.
</div>
<br>
{% block content %}
{% endblock %}
<br><br>
<hr/>
<div class="container">
    <div class="footer">
        <sub class="center-block"> Made by <a href="https://sobotics.org/">SOBotics</a>.
            Published on <a href="https://stackapps.com/q/7768">StackApps</a>.
            Source code on <a href="https://github.com/SOBotics/CopyPastor">GitHub</a>.
            Content provided by <a href="https://stackexchange.com/">Stack Exchange API</a>
            through the cc by-sa 3.0 license
        </sub>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</body>
</html>
