{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>
        CopyPastor is a Flask application to serve as a web dashboard for the
        <a href="https://stackapps.com/questions/7197/guttenberg-a-bot-searching-for-plagiarism-on-stack-overflow">
            Guttenberg
        </a>
        bot, with the purpose of detecting and helping to flag plagiarism.

        <br>

        Please report any
        issues or feature requests on <a href="https://github.com/SOBotics/CopyPastor/issues/new">the Github repo.</a>
        Pull requests are always welcome.
        Join us in <a href="https://chat.stackoverflow.com/rooms/111347/sobotics"> the SOBotics chatroom</a>, if you want to discuss.

        <br><br>

        <i>Whatever you do, our cat will always be watching you.
            <img src="{{ url_for('static', filename='favicon.png') }}" class="textcat">
        </i>

        <br>
    <h1>Don't deploy this version. It's just a test for deployment via Plesk. </h1>
        <div class="stats">
            {% for type,color,count in data %}<div class="bar" style="background-color:{{color}};width:{{type}}%" title="{{count}}"></div>{% endfor %}
        </div>

    </p>
</div>
{% endblock %}
</html>

