{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>
        CopyPastor is a Flask application to serve as a web dashboard for the
        <a href="https://stackapps.com/questions/7197/guttenberg-a-bot-searching-for-plagiarism-on-stack-overflow">
            Guttenberg
        </a>
        bot, with the purpose of detecting and helping to flag plagiarism.

        <br>

        Please report any
        issues or feature requests on <a href="https://github.com/SOBotics/CopyPastor/issues/new">the Github repo.</a>
        Pull requests are always welcome.
        Join us in <a href="https://chat.stackoverflow.com/rooms/111347/sobotics"> the SOBotics chatroom</a>, if you want to discuss.

        <br><br>

        <i>Whatever you do, our cat will always be watching you.
            <img src="{{ url_for('static', filename='favicon.png') }}" class="textcat">
        </i>

        <br>

        <div class="stats">
            {% for type,color,count in data %}<div class="bar" style="background-color:{{color}};width:{{type}}%" title="{{count}}"></div>{% endfor %}
        </div>

        <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Report</th>
                <th>Plagiarized Post</th>
                <th>Original Post</th>
            </tr>
            </thead>
            <tbody>
            {% for post_id, title_one, title_two, url_one, url_two in posts %}
                <tr>
                    <td>
                        <a href="/posts/{{post_id}}">{{post_id}}</a>
                        <a href="/posts/{{post_id}}" target="_blank"
                           title="Open in a new tab">
                            <span class="fa fa-external-link" style="color:grey; height:50%"></span>
                        </a></td>
                    <td>
                        <a href="{{url_one}}">{{title_one}}</a>
                        <a href="{{url_one}}" target="_blank" title="Open in a new tab">
                            <span class="fa fa-external-link" style="color:grey"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{url_two}}">{{title_two}}</a>
                        <a href="{{url_two}}" target="_blank" title="Open in a new tab">
                            <span class="fa fa-external-link" style="color:grey"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </p>
</div>
{% endblock %}
</html>

