{% extends "base.html" %}
{% block content %}

    <div class="container">
        <span>Score: {{score}}; Reported for: {{ reasons|join(', ') }}</span>
        <span class="openall" onclick="o('{{url_one}}','{{url_two}}')">
            Open both answers
            <span class="fa fa-external-link" style="color:grey"></span>
        </span>
        <span class="display-switcher">
            <span onclick="$('#single').show();$('#double').hide();$('#old').hide();" title="Inline View">
                <i class="fas fa-align-justify"></i>
            </span>
            <span onclick="$('#double').show();$('#single').hide();$('#old').hide();" title="Side By Side View">
                <i class="fas fa-columns"></i>
            </span>
            <span onclick="$('#old').show();$('#single').hide();$('#double').hide();" title="Side By Side Old View (Line matching)">
                <i class="fas fa-columns deprecated"></i>
            </span>
        </span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <p><h2 style="display:inline"><a href="{{url_one}}">{{title_one}}</a></h2>
                    <a href="{{url_one}}" target="_blank" title="Open in a new tab">
                        <span class="fa fa-external-link" style="color:grey"></span>
                    </a>
                </p>
                <p>{{type}} on {{date_one.strftime('%Y-%m-%d')}}
                    {% for type,name,link in feedback %}
                        {% if type == "tp" %}
                            <span class="fb"><a href="{{link}}" title="{{name}}">
                                <span class="fa fa-check" style="color:green"></span>
                            </a></span>
                        {% elif type == "fp" %}
                            <span class="fb"><a href="{{link}}" title="{{name}}">
                                <span class="fa fa-times" style="color:red"></span>
                            </a></span>
                        {% endif %}
                    {% endfor %}
                    {% if username_one != "" %}
                        <br>by <a href="{{user_url_one}}">{{username_one}}</a></p>
                    {% endif %}
            </div>
            <div class="col">
                <p><h2 style="display:inline"><a href="{{url_two}}">{{title_two}}</a></h2>
                    <a href="{{url_two}}" target="_blank" title="Open in a new tab">
                        <span class="fa fa-external-link" style="color:grey"></span>
                    </a>
                </p>
                <p>Original - Posted on {{date_two.strftime('%Y-%m-%d')}}
                {% if username_two != "" %}
                    <br>by <a href="{{user_url_two}}">{{username_two}}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="container" id="double">
        <div class="row">
            <div class="col">
                <pre class="cd sd" id="left"></pre>
            </div>
            <div class="col">
                <pre class="cd sd" id="right"></pre>
            </div>
        </div>
        <div class="legend" title="Legend">
            <span style="color:red">Present in both answers;</span>
            <span style="color:green">Present only in the new answer;</span>
            <span style="color:black">Present only in the old answer;</span>
        </div>
    </div>
    <br>
    <div class="container" id="old">
        <div class="row">
            <div class="col">
                <div class="cd">
                    {% for item in body_one -%}
                        {% if item == "" %}
                        <span class="sp"><br/></span>
                        {% elif item in body_two %}
                        <span class="spr">{{item}}</span>
                        {% else %}
                        <span class="sp">{{item}}</span>
                        {% endif %}
                    {%- endfor %}
                </div>
            </div>
            <div class="col">
                <div class="cd">
                    {% for item in body_two -%}
                        {% if item == "" %}
                        <span class="sp"><br/></span>
                        {% elif item in body_one %}
                        <span class="spr">{{item}}</span>
                        {% else %}
                        <span class="sp">{{item}}</span>
                        {% endif %}
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="single" style="display:hidden">
        <pre class="cd sd" id="display"></pre>
        <div class="legend" title="Legend">
            <span style="color:red">Present in both answers;</span>
            <span style="color:green">Present only in the new answer;</span>
            <span style="color:black">Present only in the old answer;</span>
        </div>
    </div>
<div class="container">
    <h1>{{message}}</h1>
</div>
{% endblock %}
