{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h2><a href="{{url_one}}">{{title_one}}</a></h2>
                <p>Plagiarized - Posted on {{date_one.strftime('%Y-%m-%d')}}
                    {% for type,name,link in feedback -%}
                        {% if type == "tp" %}
                            <span class="fb"><a href="{{link}}" title="{{name}}">
                                <span class="fa fa-check" style="color:green"></span>
                            </a></span>
                        {% elif type == "fp" %}
                            <span class="fb"><a href="{{link}}" title="{{name}}">
                                <span class="fa fa-times" style="color:red"></span>
                            </a></span>
                        {% endif %}
                    {%- endfor %}
                </p>
            </div>
            <div class="col">
                <h2><a href="{{url_two}}">{{title_two}}</a></h2>
                <p>Original - Posted on {{date_two.strftime('%Y-%m-%d')}}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cd">
                    {% for item in body_one -%}
                        {% if item == "" %}
                        <span class="sp"><br/></span>
                        {% elif item in body_two %}
                        <span class="spr">{{item}}</span>
                        {% else %}
                        <span class="sp">{{item}}</span>
                        {% endif %}
                    {%- endfor %}
                </div>
            </div>
            <div class="col">
                <div class="cd">
                    {% for item in body_two -%}
                        {% if item == "" %}
                        <span class="sp"><br/></span>
                        {% elif item in body_one %}
                        <span class="spr">{{item}}</span>
                        {% else %}
                        <span class="sp">{{item}}</span>
                        {% endif %}
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <h1>{{message}}</h1>
</div>
{% endblock %}
